.ui--asset-create {
  position: relative;
  margin: 0 auto 2rem;
  max-width: $screen-sm;

  &-header {
    display: grid;
    grid-gap: 1.5rem;
    grid-auto-flow: column;
    justify-content: flex-start;
    margin: 0 0 3rem;
  }

  &-body {
    display: grid;
    grid-gap: 2rem;
    align-items: flex-start;

    code {
      padding: 0 0.5rem;
      color: $color-dark-6;
      background-color: tint($color-dark-2, 25%);
      box-shadow: 0 0 0 1px tint($color-dark-4, 75%);
    }
  }

  &-footer {
    margin: 3rem 0;
  }

  .btn {
    .text {
      text-transform: capitalize;
    }

    &-back {
      align-self: center;
      height: 36px;
      padding: 0 1.25rem 0 0.75rem;

      .text {
        padding: 0 0 0 0.25rem;
      }
    }

    &-create {
      height: 45px;
      padding: 0 2.5rem;

      .text {
        font-size: $font-size-large;
      }
    }
  }
}
