@font-face {
  font-family: "made-bon-voyage-regular";
  src: url("/static/fonts/made-bon-voyage-regular.otf") format("woff"),
    url("/static/fonts/made-bon-voyage-regular.otf") format("opentype"),
    url("/static/fonts/made-bon-voyage-regular.otf") format("truetype");
}

@font-face {
  font-family: "DB-Gill-Siam-X-Li";
  src: url("/static/fonts/DB_Gill_Siam_X_Li_v3.2.ttf") format("woff"),
    url("/static/fonts/DB_Gill_Siam_X_Li_v3.2.ttf") format("opentype"),
    url("/static/fonts/DB_Gill_Siam_X_Li_v3.2.ttf") format("truetype");
}
