.ui--home-bar {
  position: relative;
  display: grid;
  background-color: #80839B;
  color: #FFF;

  font-family: "DB-Gill-Siam-X-Li";
  font-weight: 400;
  font-size: $font-size-larger;
  margin-bottom: -4rem;
//   height: 600px;

  @include screen-sm {
    // height: 480px;
  }

  &-content {
    align-self: center;
    margin: 0 auto;
    max-width: $screen-lg;
    text-align: center;
    padding: 1rem 2rem;

    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @include screen-sm {
        flex-direction: column;
        align-items: center;
    }

    .copyContract {
    //   display: block;
      margin-left: 0.5rem;
      width: 15px;
      height: 18px;
      vertical-align: baseline;
    //   margin: 0 auto 2rem;
      object-fit: contain;
      object-position: center;
      cursor: pointer;

      @include screen-xs {
        // width: 100px;
        // height: 100px;
      }
    }

    .buywwin{
        height: 40px;
        padding: 0 1.5rem;
        color: #FCFCFC;
        background-color: #2A2B38;
        text-transform: uppercase;

        &:hover{
            text-decoration: none;
        }

        .wwintoken{
            margin-right: 1rem;
        }
    }

    .h2,
    .h1 {
      font-family: "PT Serif", serif;
    }

    .h2 {
      font-family: "made-bon-voyage-regular";
      color: #a58231;
      // line-height: 1;
      font-size: $font-size-larger * 2;
      font-weight: $font-weight-light;
      font-weight: 900;

      @include screen-xs {
        font-size: $font-size-larger * 1.5;
      }
    }

    .h1 {
      font-family: "made-bon-voyage-regular";
      font-weight: 900;
      color: white;
      letter-spacing: 1px;
      font-size: $font-size-larger * 2.25;

      @include screen-xs {
        font-size: $font-size-larger * 1.5;
      }
    }

    .h4 {
      font-family: "DB-Gill-Siam-X-Li";
      font-weight: 400;
      letter-spacing: 1px;
      color: $color-dark-4;
      font-size: $font-size-large + 9 + 2;
      line-height: 28px;

      @include screen-xs {
        font-size: $font-size-large + 9;
      }
    }
  }
}
