@import './filter';

.ui--marketplace {
  &-container {
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: 1fr;
    align-items: flex-start;
    max-width: 1440px;
    margin: 0 auto;
  }

  &-sidebar {
    position: sticky;
    top: 8.75rem;
    padding: 1rem;
    border-radius: $border-radius-medium;
    border: 1px solid $color-dark-2;

    .h4 {
      text-transform: capitalize;
      line-height: 1.25;
      padding: 0 0 0.5rem;
      font-size: $font-size-large + 2;
      border-bottom: 1px solid $color-dark-2;
    }
  }

  &-header {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr auto;

    .title {
      .h2 {
        line-height: 1.25;
        font-size: $font-size-larger + 4;
        font-weight: $font-weight-bolder;
        text-transform: capitalize;
      }

      .desc {
        color: $color-dark-6;
      }
    }

    .action {
      position: relative;
      display: grid;
      grid-gap: 0.5rem;
      grid-auto-flow: column;
      align-items: center;
      align-self: center;

      label {
        color: $color-dark-6;
        white-space: nowrap;
        text-transform: capitalize;
        font-size: $font-size-small;
        font-weight: $font-weight-light;
      }

      select {
        cursor: pointer;
        padding: 0.5rem 2rem 0.5rem 0.75rem;
        border-radius: $border-radius-small;
        border: 1px solid $color-dark-2;
        appearance: none;
        -moz-appearance: textfield;

        &:hover {
          border-color: tint($color-indigo, 30%);
          box-shadow: 0 0 0 3px rgba($color-indigo, 0.12);
        }

        & ~ .icon {
          position: absolute;
          top: 50%;
          right: 5px;
          line-height: 0;
          color: $color-dark-6;
          pointer-events: none;
          transform: translateY(-50%);
        }
      }
    }
  }

  &-body {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-auto-flow: dense;
    padding: 2rem 0;
  }

  &-footer {
    text-align: center;
    padding: 1rem 0 0;

    .btn {
      &-more {
        height: 40px;
        padding: 0 3rem;

        .text {
          text-transform: capitalize;
        }
      }
    }
  }
}
